/////////////////////////////////////////////////////////
//  Created to implement our own styles onto the 
//  Owl Carousel default styles.
//  
//  Stored in seperate file for the more cleaner approach.
/////////////////////////////////////////////////////////


// Remove our Responsivity and let Owl Carousel do that.
.owl-item {
	.column {
		width: 100%; 
	}
	.media {
		width: auto;
	}
}

// Owl Carousel custom buttons.
.playlist_sequence {
	// Disable the Onhover thing for Media Items.
	.media_menu_touch {
		display: none;
	}
	// Disable the Margin of Columns inside the Carousel, this 
	// leads to the problems with the Butons.
	.column_inner {
		margin-left: auto;
	}
	// Make it Relative so Buttons wont change positions.
	position: relative;
	.button_left {
	    position : absolute;
	    cursor   : pointer;
	    z-index	 : 10;
  		display  : inline-block;
  		top      : 47%;
  		left     : 8px;
	    &::after {
	        content   : $button_left_content;
	        font-size : $button_left_size;
	        color     : $color_gray_dark;
	    }
	}
	.button_right {
	    @extend .button_left;
  		right     : 8px;
  		left      : auto;
	    &::after {
	        content   : $button_right_content;
	    }
	}
}

// Placeholder for the Dragable.
.placeholder {
    border: 1px solid green;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    box-shadow: 0px 0px 10px #888;
}