//////////////////////////////////////////////////////////
// Tablet screen size
//////////////////////////////////////////////////////////

@media (max-width: $screen_breakpoint_max_width) and (min-width: $screen_breakpoint_tablet + 1px) {
    // Grid (columns and rows)
    .column .column_inner {
        width : 90%;
    }
    // media_menu_touch_circle
    .media_menu_touch_circle {
        display: none;
    }
}
@media only screen and (max-width: $screen_breakpoint_tablet) {
    //Container
    .container,
    .header_container,
    .main_container {
        width : $container_width_tablet;
    }

    //Logo, page_title, search box, Button font-size
    h1.logo a,
    h2.page_title,
    .search_form form input[type="search"],
    .button_generic,
    .button_history,
    .page_menu,
    .button_save,
    .playlist_new,
    .profile h2,
    .introduction h3 {
        font-size : $text_font_size_normal_tablet;
    }

    // Grid (columns and rows)
    //Column hide
    .column {
        width : $column_width_tablet;
    }
    .column.column_1and2,
    .column.column_3and4 {
        width : $column_1and2_width_tablet;
    }
    .column.column_4and5,
    .column.column_2and3 {
        width : $column_4and5_width_tablet;
    }
    .hide_tablet {
        display : none;
    }

    //Media
    .media {
        .moment_count {
            font-size       : $text_font_size_small_tablet;
            padding         : $moment_count_padding_tablet;
        }
        .media_title {
            min-height      : $text_font_size_normal_tablet * $media_title_min_height_line_multiple;
            h5 {
                line-height : $media_title_line_height;
                font-size   : $text_font_size_normal_tablet;
                padding     : 0;
            }
        }
    }
    // media_menu_touch_circle
    .media_menu_touch_circle {
        display: none;
    }
    .playlist_view_count {
        font-size : $text_font_size_small_tablet;
    }
    .media .media_title {
        min-height    : $text_font_size_normal_tablet * $media_title_min_height_line_multiple;
        h5 {
            font-size : $text_font_size_normal_tablet;
            padding   : 0;
        }
    }
    .column_media.column_bookmark .media .media_title h5 {
        font-size : $text_font_size_normal_tablet;
    }

    //Introduction
    .introduction .column_2 {
        width : 100% - $column_width_tablet;
    }
    .introduction .introduction_container_inner h3 {
        font-size   : $text_font_size_big_tablet;
    }

    //Button Back
    .button_back {font-size: $text_font_size_normal_tablet;}
}

//////////////////////////////////////////////////////////
// Mobile screen size
//////////////////////////////////////////////////////////

@media only screen and (max-width: $screen_breakpoint_mobile) {

    //Logo, page_title, search box, Button font-size
    h1.logo a,
    h2.page_title,
    .search_form form input[type="search"],
    .button_generic,
    .button_history,
    .page_menu,
    .button_save,
    .playlist_new,
    .profile h2,
    .introduction h3 {
        font-size : $text_font_size_normal_mobile;
    }

    // Media
    .media {
        .moment_count {
            font-size     : $text_font_size_small_mobile;
            padding       : $moment_count_padding_mobile;
        }
        .media_title {
            min-height    : $text_font_size_normal_mobile * $media_title_min_height_line_multiple;
            h5 {
                font-size : $text_font_size_normal_mobile;
            }
        }
    }
    .column_media.column_bookmark .media .media_title h5 {
        font-size : $text_font_size_normal_mobile;
        padding   : 0;
    }
    .media {
        z-index : 10;
    }
    .content .column .media_menu_touch_circle {
        right   : $media_menu_touch_circle_right;
        bottom  : $media_menu_touch_circle_bottom;
        left    : auto;
        z-index: $media_menu_touch_circle_z_index;
    }
    .media_menu_popup {
        width : $media_menu_popup_width_touch;
    }
    .media .moment_count {
        padding : $moment_count_padding_mobile;
    }
    .playlist_view_count {
        font-size : $text_font_size_small_mobile;
    }

    // Grid (columns and rows)
    //Column hide
    .hide_mobile {
        display : none;
    }
    .column {
        width: $column_width_mobile;
    }
    .column.column_4and5,
    .column.column_2and3 {
        width     : $column_4and5_width_mobile;
    }
    .column.column_1and2,
    .column.column_3and4 {
        width     : $column_1and2_width_mobile;
        .column_inner {
            width : $media_width_mouse;
        }
    }
    .new_playlist .column.column_1and2 {
        width     : $column_4and5_width_mobile;
        .column_inner {
            width : $media_width_mouse_1and2;
        }
    }
    .content .column.column_media .column_inner {
        width : $media_width_touch;
    }
    .content .column.column_media.column_bookmark .column_inner {
        width     : $media_width_mouse;

        .profile-history-body & {
            width : $media_width_touch;
        }
    }

    //Introduction
    .introduction .introduction_container_inner h3 {
        font-size : $text_font_size_big_mobile;
    }

    // button_back
    .button_back {
        font-size : $text_font_size_normal_mobile;
    }

}

//////////////////////////////////////////////////////////
// Small screen size
//////////////////////////////////////////////////////////

@media only screen and (max-width: $screen_breakpoint_small) {

    // Grid (columns and rows)
    //Column hide


    .column {
        width: $column_width_small;
    }
    .column.column_1and2 {
        width: $column_1and2_width_small;
        .column_inner {
        }
    }
    .hide_small {
        display : none;
    }
    .profile h2 {
        display : none;
    }
    header .column.column_1 {
        width      : $column_width_small;
    }
    header .column.column_3and4 {
        clear      : left;
        width      : $column_3and4_width_small;
        margin-top : $padding_vertical_default;
        .column_inner {
            width  : $media_width_mouse_3and4;
        }
    }
    .new_playlist header .column.column_2and3 {
        width     : $column_width_small;
        .column_inner.column_search_playlist_inner {
            width : $media_width_mouse;
        }
    }
    header .column.column_5 {
        position  : absolute;
        right     : $header_column_5_right;
        top       : $padding_vertical_default;
        .column_inner {
            width : $header_column_5_inner_width;
        }
    }
    .sub_header .column.column_4and5 {
        width             : $column_4and5_width_small;
        .column_inner {
            width         : $media_width_mouse;
            .radio_button .button_history, .radio_button .button_playlist {
                font-size : $profile_switcher_size_small;
            }
        }
    }
    .new_playlist .column.column_1and2 {
        width     : $column_4and5_width_small;
        .column_inner {
            width : $media_width_mouse;
        }
    }

    //Logo, page_title, search box, Button font-size
    h1.logo a,
    h2.page_title,
    .search_form form input[type="search"],
    .button_generic,
    .button_history,
    .page_menu,
    .button_save,
    .playlist_new,
    .profile h2,
    .introduction h3 {
        font-size : $text_font_size_normal_small;
    }

    // Media
    .media {
        .moment_count {
            font-size     : $text_font_size_small_mobile;
        }
        .media_title {
            min-height    : $text_font_size_normal_small * $media_title_min_height_line_multiple;
            h5 {
                font-size : $text_font_size_normal_small;
            }
        }
    }
    .column_media.column_bookmark .media .media_title h5 {
        font-size : $text_font_size_normal_small;
        padding   : 0;
    }
    .content .column .media_menu_touch_circle {
        height  : $media_menu_touch_circle_height_small;
        width   : $media_menu_touch_circle_width_small;
        padding : $media_menu_touch_circle_padding_small;
        right   : $media_menu_touch_circle_right_small;
        bottom  : $media_menu_touch_circle_bottom;
    }
    .page_menu_popup_list_small_screen {
        display: block;
    }
    .media_menu_touch {
        right    : $media_menu_touch_right_small;
        height   : $media_menu_touch_height_small;
    }
    .playlist_view_count {
        font-size  : $text_font_size_small_small;
    }

    // Introduction
    .introduction .introduction_container_inner h3 {
        font-size   : $text_font_size_big_small;
    }

    // following button
    .button_generic.button_following10 {
        display : none;
    }

   // Profile Switcher
    .radio_button {
        .button_history {
            &::after {
                content : $button_history_content_small;
            }
        }

        .button_playlist {
            &::after {
                content : $button_playlist_content_small;
            }
        }
    }
    // button_back
    .button_back {
        font-size : $text_font_size_normal_small;
    }
}

//////////////////////////////////////////////////////////
// Carousel
// Date: 14-04-2015 TUSHAR
//////////////////////////////////////////////////////////

.thumbnail-slider .round-light-opacity {
    bottom   : $round_light_opacity_bottom;
    position : absolute;
    right    : $round_light_opacity_right;
    cursor   : pointer;
}
.thumbnail-slider ul > li {
    position : relative;
}
.thumbnail-slider ul .media {
    z-index  : $ul_media_zindex;
}
.thumbnail-slider ul li {
    padding  : 0 $ul_li_padding;
}
.thumbnail-slider ul .media {
    z-index  : $ul_media_index;
}
.round-light-opacity img {
    width    : $round_light_opacity;
}
.media_text {
    display       : none;
    background    : rgba(255, 255, 255, .9);
    color         : #000;
    width         : $media_text_width;
    height        : $media_text_height;
    position      : absolute;
    padding       : $media_text_padding1 $media_text_padding2;
    top           : $media_text_top;
    right         : $media_text_right;
    z-index       : $media_text_zindex;
    border-radius : $media_text_br;
}
.thumbnail-slider .owl-item li {
    height   : $owl_item_height;
}
.owl-carousel .owl-buttons div {
    opacity  : $owl_buttons_div_opacity !important;
}
.media {
    position : absolute;
    bottom   : 0;
}
.open-popup {
    position : relative;
    z-index  : $media_bottom_popup !important;
}
.owl-controls {
    .owl-buttons {
        .owl-prev, .owl-next {
            top : $owl_controls_top;
        }
    }
}
.owl-carousel {
    .owl-wrapper-outer {
        width   : $owl_carousel_width;
        margin  : 0 auto;
    }
}
.more_momments::after {
    content: "More Moments";
}
.media_text {
    span {
        float       : left;
        width       : $media_text_span_width;
    }
    a {
        float       : right;
        width       : $media_text_span;
        text-align  : center;
        color       : #000;
        font-size   : $media_text_fz;
        font-weight : $media_text_font;
    }
}
.thumbnail-slider {
    margin-bottom : $thumbnail_slider;
}
