<!-- BOOKMARK ITEM -->
<div class="column column_media column_bookmark">
    <div class="column_inner">

        <!-- Thumbnail -->
        <div class="media">
            <a class="button_remove_from_playlist hidden"></a>
            <a href="javascript:void(0);" class="thumbnail">
                <img src="images/video_thumbnail_a.jpg" alt="thumbnail">
            </a>
            <a href="javascript:void(0);" class="media_title">
                <h5>Title Moment</h5>
            </a>
        </div>

        <!-- View Count -->
        <div class="playlist_view_count">33 views</div>
    </div>
</div>
