<!-- BOOKMARK ITEM -->
<div class="column column_media column_bookmark">
    <div class="column_inner">

        <!-- Thumbnail -->
        <div class="media">
            <a class="button_remove_from_playlist hidden"></a>
            <a href="javascript:void(0);" class="thumbnail">
                <img src="images/video_thumbnail_a.jpg" alt="thumbnail">
            </a>
            <a href="javascript:void(0);" class="media_title">
                <h5>Title Moment</h5>
            </a>
        </div>

        <!-- Touch Menu -->
        <div class="media_menu_touch">
            <div class="media_menu_touch_clickregion"></div>
            <a href="javascript:void(0);" class="media_menu_touch_circle">
                <button type="button" class="menu_bar_group">
                    <span class="menu_bar"></span>
                    <span class="menu_bar"></span>
                    <span class="menu_bar"></span>
                </button>
            </a>
        </div>

        <div class="media_menu_popup" style="display: none;">
            <a href="javascript:void(0);" class="button_close"></a>
            <ul class="media_menu_popup_items">
                <li><a href="#">Tweet    </a></li>
                <li><a href="#">Facebook </a></li>
                <li><a href="#">Share... </a></li>
            </ul>
        </div>

        <!-- View Count -->
        <div class="playlist_view_count">33 views</div>
    </div>
</div>
