<!-- BOOKMARK ITEM -->
<div class="column column_media column_bookmark">
    <div class="column_inner">

        <!-- Thumbnail -->
        <div class="media">
            <a class="button_remove_from_playlist hidden"></a>
            <a href="javascript:void(0);" class="thumbnail">
                <img src="images/video_thumbnail_c.jpg" alt="thumbnail">
            </a>
            <a href="javascript:void(0);" class="media_title">
                <h5>Single Highlight</h5>
            </a>
        </div>

    </div>
</div>
