<!-- Bookmark in Carousel -->
<div class="column column_full column_media column_bookmark column_carousel instruction">
    <div class="column_inner">

        <div class="media">
            <a class="thumbnail">
                <img src="images/video_thumbnail_a.jpg" alt="thumbnail">
            </a>
            <a class="media_title">
                <h5>Title Moment</h5>
            </a>
        </div>

        <!-- Instructions -->
        <div class="playlist_sequence_instructions playlist_sequence_instructions_1">
            <p><span>tap bookmarks<br>below to add<br>to playlist</span></p>
        </div>
    </div>
</div>

<!-- Bookmark in Carousel -->
<div class="column column_full column_media column_bookmark column_carousel instruction">
    <div class="column_inner">

        <div class="media">
            <a class="thumbnail">
                <img src="images/video_thumbnail_a.jpg" alt="thumbnail">
            </a>
            <a class="media_title">
                <h5>Title Moment</h5>
            </a>
        </div>

        <!-- Instructions -->
        <div class="playlist_sequence_instructions playlist_sequence_instructions_1">
            <p><span></span></p>
        </div>

    </div>
</div>

<!-- Bookmark in Carousel -->
<div class="column column_full column_media column_bookmark column_carousel instruction">
    <div class="column_inner">

        <div class="media">
            <a class="thumbnail">
                <img src="images/video_thumbnail_a.jpg" alt="thumbnail">
            </a>
            <a class="media_title">
                <h5>Title Moment</h5>
            </a>
        </div>

        <!-- Instructions -->
        <div class="playlist_sequence_instructions playlist_sequence_instructions_1">
            <p><span></span></p>
        </div>

    </div>
</div>