<!-- PLAYLIST ITEM -->
<div class="column column_media">
	<div class="column_inner">

		<!-- Thumbnail -->
		<div class="media">
			<a href="http://dev.mpulsemedia.com/moment_html/video_landing_b.html" class="thumbnail">
				<img src="images/video_thumbnail_b.jpg" alt="thumbnail">
			</a>
			<span class="moment_count">
				1,234
			</span>
			<a href="http://dev.mpulsemedia.com/moment_html/video_landing_b.html" class="media_title">
				<h5>Highlight Reel</h5>
			</a>
		</div>

		<!-- Touch Menu -->
		<div class="media_menu_touch">
			<div class="media_menu_touch_clickregion"></div>
			<a href="javascript:void(0);" class="media_menu_touch_circle">
				<button type="button" class="menu_bar_group">
					<span class="menu_bar"></span>
					<span class="menu_bar"></span>
					<span class="menu_bar"></span>
				</button>
			</a>
		</div>

		<div class="media_menu_popup" style="display: none;">
			<a href="javascript:void(0);" class="button_close"></a>
			<ul class="media_menu_popup_items">
				<li class="media_menu_popup_publisher">
					<a href="profile_other.html">
						<img src="images/profile_user_image2.png" alt="img">
						Fred
					</a>
				</li>
				<li><a href="#">Tweet    </a></li>
				<li><a href="#">Facebook </a></li>
				<li><a href="#">Share... </a></li>
				<li><a href="new_playlist.html">Edit a Copy</a></li>
			</ul>
		</div>

		<!-- View Count -->
		<div class="playlist_view_count">33 views</div>
	</div>
</div>
